<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>ten</th>
        <th>so dt</th>
        <th>avatar</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.phone}"></td>
        <td >><img  th:src="@{/static/img/__${user.getImgURL()}__}" alt="img" style="width: 50px; height: 50px;" ></td>
    </tr>
</table>


</body>
</html>